Repository elastic/elasticsearch-hadoop, pull requests merged in 2018-05, with the labels that each got.

#1143 #1115 Added support to bulk error handling to generate exception stack
  mr/src/main/java/org/elasticsearch/hadoop/rest/ErrorExtractor.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/EsHadoopRemoteException.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestClient.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/bulk/BulkProcessor.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/bulk/BulkResponse.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/ErrorExtractorTest.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/bulk/BulkProcessorTest.java
Labels: :Rest, enhancement

#1144 add EsInputSplit.toString method which can be used for debugging
  mr/src/main/java/org/elasticsearch/hadoop/mr/EsInputFormat.java
Labels: :MR, enhancement

#1155 Upgrade Scala minor version to support Java 9/10
  gradle.properties
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: :Build, enhancement, v6.3.1, v6.4.0
