Repository elastic/elasticsearch-hadoop, pull requests merged in 2018-06, with the labels that each got.

#1153 Add serialization error handler API
  docs/src/reference/asciidoc/core/errorhandlers.adoc
  hive/src/main/java/org/elasticsearch/hadoop/hive/EsSerDe.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestRepository.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/BulkEntryWriter.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/handler/write/SerializationAbortOnFailure.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/handler/write/SerializationDropAndLog.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/handler/write/SerializationErrorHandler.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/handler/write/SerializationFailure.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/handler/write/SerializationHandlerLoader.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/bulk/BulkEntryWriterTest.java
Labels: :Serialization, feature, v6.4.0

#1154 An HTTP line is larger than 4096 bytes
  mr/src/main/java/org/elasticsearch/hadoop/rest/SearchRequestBuilder.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/QueryTest.java
Labels: :Rest, in progress

#1151 Breaking up the Spark documentation page into sub pages
  docs/src/reference/asciidoc/core/spark.adoc
Labels: doc, enhancement
