Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-04, with the labels that each got.

#1270 Docs: Drop inline callouts
  docs/src/reference/asciidoc/core/hive.adoc
  docs/src/reference/asciidoc/core/intro/download.adoc
  docs/src/reference/asciidoc/core/pig.adoc
  docs/src/reference/asciidoc/core/spark.adoc
  docs/src/reference/asciidoc/core/storm.adoc
Labels: >docs

#1271 [DOCS] Adds tagged region for notable breaking changes
  docs/src/reference/asciidoc/appendix/breaking.adoc
Labels: >docs, v8.0.0

#1272 [DOCS] Adds tagged region for notable breaking changes
  docs/src/reference/asciidoc/appendix/breaking.adoc
Labels: >docs, v7.1.0

#1273 [DOCS] Adds tagged region for notable breaking changes
  docs/src/reference/asciidoc/appendix/breaking.adoc
Labels: >docs, v7.0.0

#1275 Docs: Clean up for asciidoctor
  docs/src/reference/asciidoc/core/configuration.adoc
  docs/src/reference/asciidoc/core/pig.adoc
  docs/src/reference/asciidoc/core/spark.adoc
Labels: >docs

#1274 [DOCS] Adds shared attributes
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v7.0.0, v7.1.0, v8.0.0

#1279 Revert build-tools to older version
  buildSrc/build.gradle
  buildSrc/esh-version.properties
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/EshVersionProperties.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/RootBuildPlugin.groovy
Labels: :Build, non-issue
