Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-08, with the labels that each got.

#1328 Remove LocalEs#setSingleNodeTemplate() method
  mr/src/itest/java/org/elasticsearch/hadoop/LocalEs.java
Labels: :Testing

#1330 Do not retry scroll requests in NetworkClient.
  mr/src/main/java/org/elasticsearch/hadoop/rest/NetworkClient.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestClient.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/NetworkClientTest.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/RestClientTest.java
Labels: :Rest, bug, v7.4.0, v8.0.0

#1331 [DOCS] Fixing a cross doc link to a generated anchor.
  docs/src/reference/asciidoc/core/configuration.adoc
Labels: >docs

#1332 Fix for Cloudera CDS 2.2.0+ Spark credentialsRequired method
  spark/sql-20/src/main/scala/org/elasticsearch/spark/deploy/yarn/security/EsServiceCredentialProvider.scala
Labels: v6.8.3, v7.4.0, v8.0.0

#1334 [DOCS] Bump docs version to 7.3.1
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, doc, v7.3.1

#1335 [DOCS] Add 7.3.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.3.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, doc, v7.3.1

#1338 use File type for javaHome and bump build-tools version
  buildSrc/build.gradle
  buildSrc/esh-version.properties
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: :Build, v7.4.0, v8.0.0
