Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-10, with the labels that each got.

#1356 [DOCS] Add 7.4.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.4.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.4.0, v7.5.0

#1360 Bump version to 7.4.1
  README.md
  buildSrc/esh-version.properties
Labels: :Build, non-issue, v7.4.0

#1364 Fix pig test failures
  pig/src/itest/java/org/elasticsearch/hadoop/integration/pig/AbstractPigReadAsJsonTest.java
Labels: :Pig, non-issue

#1369 Fix spark test failures
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: :Testing, bug

#1373 [DOCS] Add 6.8.4 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: 6.8.4, >docs

#1372 [DOCS] Add 7.4.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.4.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.4.1

#1374 Revert "[DOCS] Add 7.4.1 release notes (#1372)"
  docs/src/reference/asciidoc/appendix/release-notes/7.4.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.4.1, v7.5.0, v7.6.0

#1375 Revert "[DOCS] Add 6.8.4 release notes (#1373)"
  docs/src/reference/asciidoc/appendix/release-notes/6.8.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.4

#1377 [DOCS] Add 6.8.4 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.4

#1376 [DOCS] Add 7.4.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.4.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.4.1, v7.5.0, v7.6.0

#1371 Fix CI failures due to Hadoop Distro
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  licenses/hadoop-client-2.2.0.jar.sha1
  licenses/hadoop-client-2.7.6.jar.sha1
  licenses/hadoop-common-2.2.0.jar.sha1
  licenses/hadoop-common-2.7.6.jar.sha1
  licenses/hadoop-mapreduce-client-core-2.2.0.jar.sha1
  licenses/hadoop-mapreduce-client-core-2.7.6.jar.sha1
  mr/licenses/hadoop-client-2.2.0.jar.sha1
  mr/licenses/hadoop-client-2.7.6.jar.sha1
  mr/licenses/hadoop-common-2.2.0.jar.sha1
  mr/licenses/hadoop-common-2.7.6.jar.sha1
  mr/licenses/hadoop-mapreduce-client-core-2.2.0.jar.sha1
  mr/licenses/hadoop-mapreduce-client-core-2.7.6.jar.sha1
Labels: :Build, non-issue

#1368 Add scala docs to javadocs
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: doc, non-issue, v7.6.0, v8.0.0

#1382 [7.x] Add scala docs to javadocs (#1368)
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: backport

#1383 [DOCS] Add 7.4.2 release notes.
  docs/src/reference/asciidoc/appendix/release-notes/7.4.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs

#1384 [DOCS] Include 7.4.2 RN file.
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs
