Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-12, with the labels that each got.

#1390 [DOCS] Add 7.5.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.5.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.5.0, v7.6.0, v8.0.0

#1396 [DOCS] Remove release dates from release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-alpha1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-alpha2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-beta1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-rc1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-rc2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.1.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.1.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.2.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.2.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.4.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.5.0.adoc
Labels: >docs, non-issue

#1397 [DOCS] [7.x] Remove release dates from release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-alpha1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-alpha2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-beta1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-rc1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0-rc2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.0.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.1.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.1.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.2.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.2.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.3.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.4.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.4.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.4.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.5.0.adoc
Labels: >docs, backport, non-issue, v7.5.0, v7.6.0

#1398 [DOCS] Remove release dates from release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-alpha-1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-alpha-2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-beta-1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-beta-2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-rc-1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0-rc-2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.0.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.1.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.1.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.1.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.1.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.1.4.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.2.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.2.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.2.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.2.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.2.4.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.3.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.3.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.3.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.4.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.4.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.4.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.4.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.5.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.5.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.5.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.5.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.5.4.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.6.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.6.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.6.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.7.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.7.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.4.adoc
  docs/src/reference/asciidoc/appendix/release-notes/6.8.5.adoc
Labels: >docs, non-issue, v6.8.5

#1399 Upgrade to Gradle 6
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/ElasticsearchFixturePlugin.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: :Build, enhancement

#1401 [DOCS] Added older release notice.
  docs/src/reference/asciidoc/page_header.html
Labels: >docs, v6.8.5

#1402 [DOCS] Add EOL notice.
  docs/src/reference/asciidoc/page_header.html
Labels: >docs, v2.0.4, v2.1.3, v2.2.1, v2.3.5, v2.4.1, v5.0.2, v5.1.1, v5.2.0, v5.3.3, v5.4.1, v5.5.0, v5.6.13, v6.0.1, v6.1.2, v6.2.3

#1406 Fix failures due to changes in Gradle 6 artifact resolution
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: :Build, non-issue

#1408 Docs: Remove a broken [float]
  docs/src/reference/asciidoc/core/configuration.adoc
Labels: >docs

#1409 [DOCS] Add 7.5.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.5.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.5.1, v7.6.0, v8.0.0

#1410 [DOCS] Add 6.8.6 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.6.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.6
