Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-05, with the labels that each got.

#1282 [DOCS] Updates version attributes
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v7.1.0

#1281 [DOCS] Updates version attributes
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v7.2.0

#1283 Fix master compilation from ES on Java 11
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  mr/src/test/java/org/elasticsearch/hadoop/util/EsMajorVersionTest.java
Labels: :Build, non-issue, v8.0.0

#1288 Set ubuntu dist to trusty
  .travis.yml
Labels: :Build, non-issue

#1284 Fix the mapping client call on ES 5.x and earlier.
  hive/src/itest/java/org/elasticsearch/hadoop/integration/hive/AbstractHiveSaveTest.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestClient.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/ResourceTest.java
  pig/src/itest/java/org/elasticsearch/hadoop/integration/pig/AbstractPigSaveTest.java
  spark/core/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSpark.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: :Rest, bug

#1287 Fix incorrect scroll termination for ES 2.x
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestRepository.java
Labels: :Rest, bug

#1296 [DOCS] Updates version attribute file
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v7.3.0
