Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-07, with the labels that each got.

#1311 Small test fix
  spark/sql-13/src/itest/java/org/elasticsearch/spark/integration/AbstractJavaEsSparkSQLTest.java
Labels: :Spark, :Testing

#1313 [DOCS] Updates documentation version
  docs/src/reference/asciidoc/index.adoc
Labels: >docs

#1317 [DOCS] Fix broken links for ES API docs move
  docs/src/reference/asciidoc/core/configuration.adoc
  docs/src/reference/asciidoc/core/spark.adoc
Labels: >docs, v7.3.0, v8.0.0

#1318 7.2.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.2.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs

#1320 Fix Lucene's snapshot version
  buildSrc/esh-version.properties
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: bug

#1322 [DOCS] Update anchors and links for Elasticserach API relocation.
  docs/src/reference/asciidoc/core/configuration.adoc
  docs/src/reference/asciidoc/core/spark.adoc
Labels: >docs, v7.3.0, v8.0.0

#1323 Use new snapshot of build-tools with Java 8 support
  buildSrc/build.gradle
  buildSrc/esh-version.properties
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/EshVersionProperties.groovy
Labels: :Build

#1326 bump verstion 6.8.2 -> 6.8.3
  README.md
  buildSrc/esh-version.properties
  docs/src/reference/asciidoc/index.adoc
Labels: non-issue

#1316 [DOCS] Bump docs version from 7.2.0 to 7.2.1
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, doc, v7.2.1

#1319 bump version 7.2.1->7.2.2
  README.md
  buildSrc/esh-version.properties
  docs/src/reference/asciidoc/index.adoc
Labels: v7.2.1

#1329 Bump version to 7.3.1
  README.md
  buildSrc/esh-version.properties
  docs/src/reference/asciidoc/index.adoc
Labels: non-issue, v7.3.0
