Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-09, with the labels that each got.

#1339 [DOCS] Updates version attributes filename
  docs/src/reference/asciidoc/index.adoc
Labels: >docs

#1344 6.8.3 Release Notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, doc

#1345 Bump version 6.8.3 -> 6.8.4
  README.md
  buildSrc/esh-version.properties
  docs/src/reference/asciidoc/index.adoc
Labels: non-issue

#1333 Upgrade to and fix compatibility with Gradle 5.5
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/scala/ScalaVariantPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/util/PlaceholderTask.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  mr/build.gradle
Labels: :Build

#1349 [DOCS] Updates location of version attribute for Apache Hadoop Guide
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v7.0.0, v7.1.1, v7.2.1, v7.3.1, v7.3.2, v7.4.0, v7.5.0, v8.0.0

#1355 [DOCS] Use shared attributes
  docs/src/reference/asciidoc/core/intro/download.adoc
  docs/src/reference/asciidoc/core/intro/requirements.adoc
  docs/src/reference/asciidoc/index.adoc
Labels: >docs, v6.3.0, v6.4.0, v6.5.0, v6.6.0, v6.7.0, v6.8.0, v7.0.0, v7.1.0, v7.2.0, v7.3.0, v7.4.0, v7.5.0, v8.0.0

#1351 Upgrade build to use JDK 12 and current build tools
  .travis.yml
  buildSrc/build.gradle
  buildSrc/esh-version.properties
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/scala/ScalaVariantPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/util/Resources.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/util/WaitForURL.java
  buildSrc/src/main/resources/minimumCompilerVersion
  buildSrc/src/main/resources/minimumGradleVersion
  buildSrc/src/main/resources/minimumRuntimeVersion
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  qa/build.gradle
  qa/kerberos/build.gradle
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: :Build, enhancement, v8.0.0
