Repository elastic/elasticsearch-hadoop, pull requests merged in 2019-11, with the labels that each got.

#1387 Update text around es.read.field.as.array.include
  docs/src/reference/asciidoc/core/configuration.adoc
Labels: doc

#1370 Add dependency reporting
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: :Build, non-issue

#1391 [DOCS] Add 6.8.5 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.5.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: v6.8.5

#1394 Do not build scala docs as javadocs for scala 2.10
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: bug, v7.6.0
