Repository elastic/elasticsearch-hadoop, pull requests merged in 2020-03, with the labels that each got.

#1434 [DOCS] Add 7.6.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.6.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.6.1

#1435 [DOCS] Add 6.8.7 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.7.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.7

#1430 Update the QA project to use test cluster api
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/ConfigFormats.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/HadoopClusterFormationTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/InstanceInfo.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/ServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/conf/EndProcessConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/conf/HadoopClusterConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/conf/ProcessConfiguration.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/conf/SettingsContainer.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/HadoopServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/HiveServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/PigServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/AbstractClusterTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/DfsCopy.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HadoopMRJob.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HiveBeeline.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/PigScript.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/SparkApp.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/util/ObjectUtil.groovy
  qa/kerberos/build.gradle
  qa/kerberos/src/main/java/org/elasticsearch/hadoop/qa/kerberos/setup/SetupKerberosUsers.java
  qa/kerberos/src/main/java/org/elasticsearch/hadoop/qa/kerberos/storm/StreamFromEs.java
  qa/kerberos/src/main/java/org/elasticsearch/hadoop/qa/kerberos/storm/StreamToEs.java
  qa/kerberos/src/main/resources/hive/load_to_es.sql
  qa/kerberos/src/main/resources/hive/read_from_es.sql
  qa/kerberos/src/main/resources/pig/load_to_es.pig
  qa/kerberos/src/main/resources/pig/read_from_es.pig
  test/fixtures/minikdc/build.gradle
Labels: :Build

#1439 Remove root project testing jar
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  hive/build.gradle
  mr/build.gradle
  mr/src/itest/java/org/elasticsearch/hadoop/Provisioner.java
  pig/build.gradle
  qa/kerberos/build.gradle
  spark/core/itest/java/org/elasticsearch/spark/integration/SparkUtils.java
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
  storm/build.gradle
Labels: :Build, enhancement

#1438 Replace apache download tasks with custom ivy repository.
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/HadoopClusterFormationTasks.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/HadoopFixturePlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/ServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/HadoopServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/HiveServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/PigServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/tasks/ApacheMirrorDownload.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/tasks/VerifyChecksums.groovy
  qa/kerberos/build.gradle
Labels: :Build, enhancement

#1324 Implement delete operation
  mr/src/main/java/org/elasticsearch/hadoop/cfg/Settings.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/InitializationUtils.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/AbstractBulkFactory.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/BulkCommands.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/DeleteBulkFactory.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/DeleteTemplatedBulk.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/bulk/TemplatedBulk.java
  mr/src/test/java/org/elasticsearch/hadoop/rest/InitializationUtilsTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/CommandTest.java
Labels: :Rest, enhancement

#1440 Remove references to 'mapping type' section.
  docs/src/reference/asciidoc/core/mapping.adoc
  docs/src/reference/asciidoc/core/mr.adoc
Labels: >docs, v7.5.0, v7.6.0, v8.0.0

#1444 Fix BlockAwareJsonParser level accounting
  mr/src/main/java/org/elasticsearch/hadoop/serialization/json/BlockAwareJsonParser.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/json/BlockAwareJsonParserTest.java
Labels: :Core, bug

#1443 Pass itest jar path to tests through system property
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  mr/src/itest/java/org/elasticsearch/hadoop/ProvisionerTest.java
  spark/core/itest/java/org/elasticsearch/spark/integration/SparkUtils.java
  test/shared/src/main/java/org/elasticsearch/hadoop/Provisioner.java
Labels: :Testing, enhancement

#1442 Fix project artifact sharing.
  hive/build.gradle
  pig/build.gradle
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
  storm/build.gradle
Labels: :Build, enhancement

#1448 [DOCS] Add 6.8.8 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.8.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.8

#1447 [DOCS] Add 7.6.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.6.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.6.2, v7.7.0

#1450 Bump 7.x to 7.8.0
  README.md
  buildSrc/esh-version.properties
Labels: non-issue

#1453 Fix usage of the GlobalBuildInfoPlugin
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BaseBuildPlugin.groovy
Labels: :Build, enhancement

#1445 bump version to 6.8.9
  README.md
  buildSrc/esh-version.properties
Labels: v6.8.8
