Repository elastic/elasticsearch-hadoop, pull requests merged in 2020-02, with the labels that each got.

#1424 [DOCS] Add 7.6.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.6.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.6.0

#1429 Boost default scroll size to 1000
  docs/src/reference/asciidoc/core/configuration.adoc
  mr/src/main/java/org/elasticsearch/hadoop/cfg/ConfigurationOptions.java
Labels: :Core, breaking, enhancement

#1427 Remove deprecated Gradle configurations
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/IntegrationBuildPlugin.groovy
  hive/build.gradle
  mr/build.gradle
  pig/build.gradle
  qa/kerberos/build.gradle
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
  storm/build.gradle
  test/fixtures/minikdc/build.gradle
Labels: :Build, enhancement
