Repository elastic/elasticsearch-hadoop, pull requests merged in 2020-06, with the labels that each got.

#1480 [DOCS] Add 6.8.10 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.10.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.10

#1479 [DOCS] Add 7.7.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.7.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.7.1, v7.8.0, v7.9.0, v8.0.0

#1482 [7.x] [DOCS] Add 7.7.1 release notes (#1479)
  docs/src/reference/asciidoc/appendix/release-notes/7.7.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.9.0

#1483 [7.8] [DOCS] Add 7.7.1 release notes (#1479)
  docs/src/reference/asciidoc/appendix/release-notes/7.7.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.8.0

#1484 [7.7] [DOCS] Add 7.7.1 release notes (#1479)
  docs/src/reference/asciidoc/appendix/release-notes/7.7.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.7.1

#1485 Bump version to 6.8.11
  README.md
  buildSrc/esh-version.properties
Labels: v6.8.10

#1474 Add java-versions.properties file for CI
  .ci/java-versions.properties
Labels: :Build, enhancement

#1487 Bump version for v7.7.1 release
  README.md
  buildSrc/esh-version.properties
Labels: non-issue, v7.7.1

#1481 Fix Scala test compile Java home usage
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
Labels: :Build, bug

#1472 Use build tools to read git revision
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BaseBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  mr/build.gradle
Labels: :Build, non-issue

#1463 Use subproject to generate distribution instead of root
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/IntegrationBuildPlugin.groovy
  dist/build.gradle
  hive/build.gradle
  pig/build.gradle
  settings.gradle
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
  storm/build.gradle
Labels: :Build, enhancement

#1489 Move dependency report logic to the dist project
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  dist/build.gradle
Labels: :Build, enhancement

#1488 [DOCS] Add 7.8.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.8.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.8.0, v7.9.0, v8.0.0

#1490 [7.x] [DOCS] Add 7.8.0 release notes (#1488)
  docs/src/reference/asciidoc/appendix/release-notes/7.8.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.9.0

#1491 [7.8] [DOCS] Add 7.8.0 release notes (#1488)
  docs/src/reference/asciidoc/appendix/release-notes/7.8.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.8.0
