Repository elastic/elasticsearch-hadoop, pull requests merged in 2020-07, with the labels that each got.

#1497 [DOCS] Add 6.8.11 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.10 copy.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.11

#1499 Return developers tag to pom generation
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: :Build, bug

#1500 [DOCS] Add 7.8.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.8.1

#1502 [7.9] Return developers tag to pom generation (#1499)
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: backport

#1501 [7.x] Return developers tag to pom generation (#1499)
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
Labels: backport

#1503 [7.x] [DOCS] Add 7.8.1 release notes (#1500)
  docs/src/reference/asciidoc/appendix/release-notes/7.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.10

#1504 [7.9] [DOCS] Add 7.8.1 release notes (#1500)
  docs/src/reference/asciidoc/appendix/release-notes/7.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.9.1

#1505 [7.8] [DOCS] Add 7.8.1 release notes (#1500)
  docs/src/reference/asciidoc/appendix/release-notes/7.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v7.8.1
