Repository elastic/elasticsearch-hadoop, pull requests merged in 2021-02, with the labels that each got.

#1577 [DOCS] Remove 6.8.14 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/6.8.14.adoc
Labels: >docs, v6.8.14

#1579 [DOCS] Remove 7.11.0 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/7.11.0.adoc
Labels: >docs, v7.11.1, v7.12.0, v8.0.0

#1595 [master] [DOCS] Remove 7.11.0 coming tag (#1579)
  docs/src/reference/asciidoc/appendix/release-notes/7.11.0.adoc
Labels: backport, v8.0.0

#1596 [7.x] [DOCS] Remove 7.11.0 coming tag (#1579)
  docs/src/reference/asciidoc/appendix/release-notes/7.11.0.adoc
Labels: backport, v7.12.0

#1597 Bump version to 6.8.15
  README.md
  buildSrc/esh-version.properties
Labels: :Build, v6.8.15

#1600 Fix dependency licenses for Spark 3
  licenses/spark-catalyst_2.12-2.4.4.jar.sha1
  licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  licenses/spark-core_2.12-2.4.4.jar.sha1
  licenses/spark-core_2.12-3.0.1.jar.sha1
  licenses/spark-sql_2.12-2.4.4.jar.sha1
  licenses/spark-sql_2.12-3.0.1.jar.sha1
  licenses/spark-streaming_2.12-2.4.4.jar.sha1
  licenses/spark-streaming_2.12-3.0.1.jar.sha1
  licenses/spark-yarn_2.12-2.4.4.jar.sha1
  licenses/spark-yarn_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/scala-library-2.11.12.jar.sha1
  spark/sql-30/licenses/scala-library-2.12.8.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.11.12.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.12.8.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-core_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-sql_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.0.1.jar.sha1
Labels: :Build, :Spark, non-issue

#1601 [7.x] Fix dependency licenses for Spark 3 (#1600)
  licenses/spark-catalyst_2.12-2.4.4.jar.sha1
  licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  licenses/spark-core_2.12-2.4.4.jar.sha1
  licenses/spark-core_2.12-3.0.1.jar.sha1
  licenses/spark-sql_2.12-2.4.4.jar.sha1
  licenses/spark-sql_2.12-3.0.1.jar.sha1
  licenses/spark-streaming_2.12-2.4.4.jar.sha1
  licenses/spark-streaming_2.12-3.0.1.jar.sha1
  licenses/spark-yarn_2.12-2.4.4.jar.sha1
  licenses/spark-yarn_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/scala-library-2.11.12.jar.sha1
  spark/sql-30/licenses/scala-library-2.12.8.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.11.12.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.12.8.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-core_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-sql_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.11-2.4.4.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.0.1.jar.sha1
Labels: backport

#1602 [DOCS] Add 7.11.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.11.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.11.1, v7.12.0, v8.0.0

#1603 [7.x] [DOCS] Add 7.11.1 release notes (#1602)
  docs/src/reference/asciidoc/appendix/release-notes/7.11.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v7.12.0

#1604 [master] [DOCS] Add 7.11.1 release notes (#1602)
  docs/src/reference/asciidoc/appendix/release-notes/7.11.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v8.0.0
