Repository elastic/elasticsearch-hadoop, pull requests merged in 2021-12, with the labels that each got.

#1803 Adding support for the date_nanos field type
  mr/src/main/java/org/elasticsearch/hadoop/mr/WritableValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/FieldType.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriter.java
  mr/src/main/java/org/elasticsearch/hadoop/util/DateUtils.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReaderTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriterTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/dto/mapping/MappingTest.java
  mr/src/test/java/org/elasticsearch/hadoop/util/DateUtilsTest.java
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typed/primitives.json
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typeless/primitives.json
  spark/core/build.gradle
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueWriter.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueWriterTest.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
Labels: enhancement, :Serialization, v8.1.0

#1810 [DOCS] Add 7.16.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.16.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.16.0

#1807 Add support for Spark 3.1 and 3.2
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  gradle.properties
  licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  licenses/spark-catalyst_2.12-3.2.0.jar.sha1
  licenses/spark-core_2.12-3.0.1.jar.sha1
  licenses/spark-core_2.12-3.2.0.jar.sha1
  licenses/spark-sql_2.12-3.0.1.jar.sha1
  licenses/spark-sql_2.12-3.2.0.jar.sha1
  licenses/spark-streaming_2.12-3.0.1.jar.sha1
  licenses/spark-streaming_2.12-3.2.0.jar.sha1
  licenses/spark-yarn_2.12-3.0.1.jar.sha1
  licenses/spark-yarn_2.12-3.2.0.jar.sha1
  spark/sql-30/build.gradle
  spark/sql-30/licenses/spark-catalyst_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.0.1.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.0.jar.sha1
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/streaming/EsSinkMetadataLog.scala
Labels: enhancement, :Spark, v8.0.0

#1818 [DOCS] Add 7.16.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.16.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.16.1

#1819 [DOCS] Add 6.8.21 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.21.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.21

#1817 Bump: log4j 2.10.0 to 2.15.0
  gradle.properties
Labels: enhancement, :Build, v8.0.0

#1820 [8.0] Bump Internal usages of log4j 2.10.0 to 2.15.0 (#1817)
  gradle.properties
Labels: backport

#1814 Fix Spark 3.x test configurations
  spark/core/build.gradle
Labels: bug, :Spark, :Build

#1816 Correctly reading empty fields in as null rather than throwing exception
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaExtendedBooleanValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaValueReaderTest.scala
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: bug, :Core, v8.1.0

#1822 Improving documentation about es.read.fields.include, and fixing a related bug
  docs/src/reference/asciidoc/core/spark.adoc
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
Labels: bug, >docs

#1824 [DOCS] Add 6.8.22 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.22.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.22

#1825 [DOCS] Add 7.16.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.16.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.16.2, v7.17.0

#1826 [7.17] [DOCS] Add 7.16.2 release notes (#1825)
  docs/src/reference/asciidoc/appendix/release-notes/7.16.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v7.17.0

#1829 Adding support for the date_nanos field type (#1803)
  mr/src/main/java/org/elasticsearch/hadoop/mr/WritableValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/FieldType.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriter.java
  mr/src/main/java/org/elasticsearch/hadoop/util/DateUtils.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReaderTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriterTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/dto/mapping/MappingTest.java
  mr/src/test/java/org/elasticsearch/hadoop/util/DateUtilsTest.java
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typed/primitives.json
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typeless/primitives.json
  spark/core/build.gradle
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueWriter.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueWriterTest.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
Labels: backport, v8.0.0

#1830 Adding support for the date_nanos field type (#1803)
  mr/src/main/java/org/elasticsearch/hadoop/mr/WritableValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/FieldType.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReader.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriter.java
  mr/src/main/java/org/elasticsearch/hadoop/util/DateUtils.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueReaderTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/builder/JdkValueWriterTest.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/dto/mapping/MappingTest.java
  mr/src/test/java/org/elasticsearch/hadoop/util/DateUtilsTest.java
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typed/primitives.json
  mr/src/test/resources/org/elasticsearch/hadoop/serialization/dto/mapping/typeless/primitives.json
  spark/core/build.gradle
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueWriter.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/serialization/ScalaValueWriterTest.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/SchemaUtils.scala
Labels: backport, v7.17.0

#1831 Correctly reading empty fields in as null rather than throwing exception
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaExtendedBooleanValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaValueReaderTest.scala
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: backport, v8.0.0

#1832 Correctly reading empty fields in as null rather than throwing exception
  spark/core/src/main/scala/org/elasticsearch/spark/serialization/ScalaValueReader.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaExtendedBooleanValueReaderTest.scala
  spark/core/src/test/scala/org/elasticsearch/spark/ScalaValueReaderTest.scala
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: backport, v7.17.0

#1833 Improving documentation about es.read.fields.include, and fixing a related bug (#1822)
  docs/src/reference/asciidoc/core/spark.adoc
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
Labels: backport, v8.0.0

#1834 Improving documentation about es.read.fields.include, and fixing a related bug (#1822)
  docs/src/reference/asciidoc/core/spark.adoc
  spark/sql-13/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
Labels: backport, v7.17.0

#1828 Updating log4j version
  gradle.properties
Labels: enhancement, :Build, v8.0.0, v8.1.0, v7.17.0
