Repository elastic/elasticsearch-hadoop, pull requests merged in 2021-04, with the labels that each got.

#1638 Update Spark installation guide for 3.0
  docs/src/reference/asciidoc/core/intro/download.adoc
Labels: >docs

#1639 [7.x] Update Spark installation guide for 3.0 (#1638)
  docs/src/reference/asciidoc/core/intro/download.adoc
Labels: backport

#1640 [master] Update Spark installation guide for 3.0 (#1638)
  docs/src/reference/asciidoc/core/intro/download.adoc
Labels: backport

#1608 Fix Gradle deprecation warnings
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BaseBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/RootBuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/scala/SparkVariantPlugin.java
  gradle.properties
Labels: :Build

#1641 Update Gradle wrapper to 7.0
  buildSrc/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  qa/build.gradle
Labels: :Build

#1643 Set explicit duplicatesStrategy for all Copy and Archive Gradle tasks
  build.gradle
Labels: :Build

#1644 Fix the build's usage of the node roles settings
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/ElasticsearchFixturePlugin.groovy
Labels: :Build, bug

#1645 [DOCS] Add 7.12.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.12.1, v7.13.0, v8.0.0

#1646 [master] [DOCS] Add 7.12.1 release notes (#1645)
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v8.0.0

#1647 [7.x] [DOCS] Add 7.12.1 release notes (#1645)
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v7.13.0

#1654 Do not rely on internal build tool logic
  build.gradle
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BaseBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/EshVersionProperties.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/IntegrationBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/RootBuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntFixture.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntFixtureStop.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/ElasticsearchFixturePlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/HadoopClusterFormationTasks.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/ConcatFilesTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/DependenciesInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/DependenciesInfoTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/DependencyLicensesTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/Fixture.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LazyFileOutputStream.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LicenseAnalyzer.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LicenseHeadersTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LoggedExec.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/StandaloneRestIntegTestTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/UpdateShasTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/Util.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/info/BuildParams.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/info/GlobalBuildInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/info/JavaHome.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/package-info.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/util/Resources.java
  dist/build.gradle
  hive/build.gradle
  mr/build.gradle
  qa/kerberos/build.gradle
Labels: :Build

#1648 [DOCS] Remove 7.12.1 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
Labels: >docs, v7.12.1, v7.13.0, v7.14.0, v8.0.0

#1655 [7.x] [DOCS] Remove 7.12.1 coming tag (#1648)
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
Labels: backport, v7.14.0

#1656 [7.13] [DOCS] Remove 7.12.1 coming tag (#1648)
  docs/src/reference/asciidoc/appendix/release-notes/7.12.1.adoc
Labels: backport, v7.13.1

#1657 Bump version for 7.12.2
  README.md
  buildSrc/esh-version.properties
Labels: v7.12.2
