Repository elastic/elasticsearch-hadoop, pull requests merged in 2021-08, with the labels that each got.

#1728 [DOCS] Add 6.8.18 release notes
  docs/src/reference/asciidoc/appendix/release-notes/6.8.18.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v6.8.16

#1727 [DOCS] Add 7.14.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.14.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.14.0, v7.15.0

#1730 [7.x] [DOCS] Add 7.14.0 release notes (#1727)
  docs/src/reference/asciidoc/appendix/release-notes/7.14.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport, v7.15.0

#1729 [DOCS] Remove 6.8.18 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/6.8.18.adoc
Labels: >docs, v6.8.18

#1735 Update the development version of ES-Hadoop
  buildSrc/esh-version.properties
Labels: non-issue, :Build

#1738 Enable minimal security for ES testing fixtures
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/ElasticsearchFixturePlugin.groovy
  test/shared/src/main/resources/test.properties
Labels: non-issue, :Build
