Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-08, with the labels that each got.

#1982 Update Spark QA version
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  gradle.properties
  licenses/spark-catalyst_2.12-3.2.1.jar.sha1
  licenses/spark-catalyst_2.12-3.2.2.jar.sha1
  licenses/spark-core_2.12-3.2.1.jar.sha1
  licenses/spark-core_2.12-3.2.2.jar.sha1
  licenses/spark-sql_2.12-3.2.1.jar.sha1
  licenses/spark-sql_2.12-3.2.2.jar.sha1
  licenses/spark-streaming_2.12-3.2.1.jar.sha1
  licenses/spark-streaming_2.12-3.2.2.jar.sha1
  licenses/spark-yarn_2.12-3.2.1.jar.sha1
  licenses/spark-yarn_2.12-3.2.2.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.2.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.2.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.2.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.2.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.2.jar.sha1
Labels: non-issue, :Build

#1986 Upgrading to gradle 7.5.1
  gradle/wrapper/gradle-wrapper.properties
Labels: :Build, v7.17.6

#1987 Fixing the build for securemock on java 17
  mr/build.gradle
  spark/core/build.gradle
  spark/sql-20/build.gradle
  spark/sql-30/build.gradle
Labels: :Build, v7.17.6

#1989 [DOCS] Add 8.4.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.4.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.4.0, v8.5.0

#1990 [8.4] [DOCS] Add 8.4.0 release notes (#1989)
  docs/src/reference/asciidoc/appendix/release-notes/8.4.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1991 [DOCS] Add 7.17.6 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.6.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.6

#1996 [DOCS] Added RNs for 8.4.1
  docs/src/reference/asciidoc/appendix/release-notes/8.4.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, auto-merge, v8.4.1

#1995 [DOCS] Added RNs for 8.4.1
  docs/src/reference/asciidoc/appendix/release-notes/8.4.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, auto-merge, v8.4.1
