Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-02, with the labels that each got.

#1894 [DOCS] Remove 8.0.0-rc2 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0-rc2.adoc
Labels: >docs, v8.0.0-rc2, v8.1.0, v8.2.0

#1897 [8.1] [DOCS] Remove 8.0.0-rc2 coming tag (#1894)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0-rc2.adoc
Labels: backport, v8.1.0

#1898 [8.0] [DOCS] Remove 8.0.0-rc2 coming tag (#1894)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0-rc2.adoc
Labels: backport, v8.0.0-rc2

#1900 Documenting that we do not support dots in field names
  docs/src/reference/asciidoc/core/mapping.adoc
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/RowValueReader.scala
Labels: :Core, >docs, v8.2.0

#1902 [DOCS] Add 8.0.0 GA release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.1.0, v8.0.0, v8.2.0

#1904 [8.1] [DOCS] Add 8.0.0 GA release notes (#1902)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1903 [master] [DOCS] Add 8.0.0 GA release notes (#1902)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1905 Fixing testDotsInFieldNames
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
Labels: non-issue, v8.2.0

#1907 [DOCS] Remove 8.0.0 coming tag
  docs/src/reference/asciidoc/appendix/breaking.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
Labels: >docs, v8.1.0, v8.0.0, v8.2.0

#1908 [master] [DOCS] Remove 8.0.0 coming tag (#1907)
  docs/src/reference/asciidoc/appendix/breaking.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
Labels: backport, v8.2.0

#1909 [8.1] [DOCS] Remove 8.0.0 coming tag (#1907)
  docs/src/reference/asciidoc/appendix/breaking.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.0.0.adoc
Labels: backport, v8.1.0

#1910 [DOCS] Add 8.0.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.1.0, v8.0.1, v8.2.0

#1912 [master] [DOCS] Add 8.0.1 release notes (#1910)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.2.0

#1913 [8.1] [DOCS] Add 8.0.1 release notes (#1910)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.1.0

#1911 [DOCS] Add 8.1.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.1.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.1.0, v8.2.0

#1915 [master] [DOCS] Add 8.1.0 release notes (#1911)
  docs/src/reference/asciidoc/appendix/release-notes/8.1.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1901 Do not fail if flush is called before any writes
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestRepository.java
Labels: bug, :Core, v8.2.0

#1917 [DOCS] Add 7.17.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.1

#1871 Feature/enable kerberos tests
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/AbstractClusterTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HadoopMRJob.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HiveBeeline.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/PigScript.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/SparkApp.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LoggedExec.java
  docs/src/reference/asciidoc/core/kerberos.adoc
  qa/kerberos/build.gradle
  qa/kerberos/src/itest/java/org/elasticsearch/hadoop/qa/kerberos/AbstractKerberosClientTest.java
  qa/kerberos/src/main/java/org/elasticsearch/hadoop/qa/kerberos/setup/SetupKerberosUsers.java
  qa/kerberos/src/main/resources/test.properties
Labels: :Build, v8.2.0

#1919 Backporting support for gradle for 7.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  spark/core/build.gradle
  spark/sql-13/build.gradle
  spark/sql-20/build.gradle
  spark/sql-30/build.gradle
Labels: :Build, v7.17.1

#1918 [DOCS] Remove 7.17.1 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/7.17.1.adoc
Labels: >docs, v7.17.1
