Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-03, with the labels that each got.

#1914 [DOCS] Remove 8.0.1 coming tag
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
Labels: >docs, v8.1.0, v8.0.1, v8.2.0

#1921 [master] [DOCS] Remove 8.0.1 coming tag (#1914)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
Labels: backport, auto-merge

#1922 [8.1] [DOCS] Remove 8.0.1 coming tag (#1914)
  docs/src/reference/asciidoc/appendix/release-notes/8.0.1.adoc
Labels: backport, auto-merge

#1924 Adding an explicit dependency on jar to setupUsers
  qa/kerberos/build.gradle
Labels: :Build, v8.2.0

#1923 Bumping spark version to 3.2.1
  gradle.properties
  licenses/spark-catalyst_2.12-3.2.0.jar.sha1
  licenses/spark-catalyst_2.12-3.2.1.jar.sha1
  licenses/spark-core_2.12-3.2.0.jar.sha1
  licenses/spark-core_2.12-3.2.1.jar.sha1
  licenses/spark-sql_2.12-3.2.0.jar.sha1
  licenses/spark-sql_2.12-3.2.1.jar.sha1
  licenses/spark-streaming_2.12-3.2.0.jar.sha1
  licenses/spark-streaming_2.12-3.2.1.jar.sha1
  licenses/spark-yarn_2.12-3.2.0.jar.sha1
  licenses/spark-yarn_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.1.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.0.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.1.jar.sha1
Labels: :Spark, v8.2.0

#1927 [master] [DOCS] Remove 8.1.0 coming tag (#1916)
  docs/src/reference/asciidoc/appendix/release-notes/8.1.0.adoc
Labels: backport

#1930 [DOCS] Add 8.1.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.1.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.2.0, v8.1.1

#1931 [master] [DOCS] Add 8.1.1 release notes (#1930)
  docs/src/reference/asciidoc/appendix/release-notes/8.1.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1934 Set UserProvider before discovery in Spark SQL integrations
  qa/kerberos/build.gradle
  qa/kerberos/src/itest/java/org/elasticsearch/hadoop/qa/kerberos/AbstractClusterVerificationTests.java
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/LoadToES.scala
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/ReadFromES.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
Labels: bug, :Spark, v8.2.0, v7.17.2

#1936 [8.1] Set UserProvider before discovery in Spark SQL integrations (#1934)
  qa/kerberos/build.gradle
  qa/kerberos/src/itest/java/org/elasticsearch/hadoop/qa/kerberos/AbstractClusterVerificationTests.java
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/LoadToES.scala
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/ReadFromES.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
Labels: backport

#1935 [7.17] Set UserProvider before discovery in Spark SQL integrations (#1934)
  qa/kerberos/build.gradle
  qa/kerberos/src/itest/java/org/elasticsearch/hadoop/qa/kerberos/AbstractClusterVerificationTests.java
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/LoadToES.scala
  qa/kerberos/src/main/scala/org/elasticsearch/hadoop/qa/kerberos/spark/ReadFromES.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
Labels: backport

#1937 [DOCS] Adds 7.17.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.2

#1938 [DOCS] Add 8.1.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.1.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.2.0, v8.1.2

#1940 [8.1] [DOCS] Add 8.1.1 release notes (#1938)
  docs/src/reference/asciidoc/appendix/release-notes/8.1.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport
