Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-07, with the labels that each got.

#1978 [DOCS] Added 8.3.2 RNs
  docs/src/reference/asciidoc/appendix/release-notes/8.3.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.4.0, v8.3.2

#1980 Upgrade to Gradle 7.5
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  gradle/wrapper/gradle-wrapper.properties
  hive/src/itest/java/org/elasticsearch/hadoop/integration/hive/HiveEmbeddedServer2.java
  mr/build.gradle
  spark/core/build.gradle
  spark/sql-20/build.gradle
  spark/sql-30/build.gradle
Labels: enhancement, :Build, v8.4.0

#1983 [DOCS] Add 8.3.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.3.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.4.0, v8.3.3

#1985 [8.4] [DOCS] Add 8.3.3 release notes (#1983)
  docs/src/reference/asciidoc/appendix/release-notes/8.3.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1984 [8.3] [DOCS] Add 8.3.3 release notes (#1983)
  docs/src/reference/asciidoc/appendix/release-notes/8.3.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport
