Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-11, with the labels that each got.

#2040 [DOCS] Add 8.5.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.5.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.5.1, v8.6.0

#2041 [8.5] [DOCS] Add 8.5.1 release notes (#2040)
  docs/src/reference/asciidoc/appendix/release-notes/8.5.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2042 [DOCS] Add 8.5.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.5.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.6.1, v8.7.0, v8.5.3

#2044 [DOCS] Add 8.5.2 release notes (#2042)
  docs/src/reference/asciidoc/appendix/release-notes/8.5.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.5.3
