Repository elastic/elasticsearch-hadoop, pull requests merged in 2022-06, with the labels that each got.

#1967 8.2.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.2.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs

#1970 8.2.3 release notes (#1967)
  docs/src/reference/asciidoc/appendix/release-notes/8.2.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#1972 [DOCS] Add 8.3.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.3.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.3.0, v8.4.0

#1975 [DOCS] Add 8.3.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.3.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.3.1, v8.4.0

#1976 [8.3] [DOCS] Add 8.3.1 release notes (#1975)
  docs/src/reference/asciidoc/appendix/release-notes/8.3.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport
