Repository elastic/elasticsearch-hadoop, pull requests merged in 2023-09, with the labels that each got.

#2129 [DOCS] Add 8.9.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.9.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.9.2, v8.10.1, v8.11.0

#2134 [DOCS] Add 8.10.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.10.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.10.0, v8.11.0

#2136 [DOCS] Add 8.10.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.10.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.10.1, v8.11.0

#2138 [DOCS] Add 8.10.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.10.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.11.0, v8.10.2

#2139 [8.10] [DOCS] Add 8.10.2 release notes (#2138)
  docs/src/reference/asciidoc/appendix/release-notes/8.10.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.10.2

#2140 Update gradle wrapper to 8.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  mr/build.gradle
  qa/kerberos/build.gradle
  test/shared/build.gradle
Labels: enhancement, :Build
