Repository elastic/elasticsearch-hadoop, pull requests merged in 2023-11, with the labels that each got.

#2152 [8.10] Upgrade to Spark 3.3.3 (#2148)
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  gradle.properties
  licenses/spark-catalyst_2.12-3.2.4.jar.sha1
  licenses/spark-catalyst_2.12-3.3.3.jar.sha1
  licenses/spark-core_2.12-3.2.4.jar.sha1
  licenses/spark-core_2.12-3.3.3.jar.sha1
  licenses/spark-sql_2.12-3.2.4.jar.sha1
  licenses/spark-sql_2.12-3.3.3.jar.sha1
  licenses/spark-streaming_2.12-3.2.4.jar.sha1
  licenses/spark-streaming_2.12-3.3.3.jar.sha1
  licenses/spark-yarn_2.12-3.2.4.jar.sha1
  licenses/spark-yarn_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.3.3.jar.sha1
  spark/sql-30/src/test/scala/org/elasticsearch/spark/sql/RowSerializationEventConverterTest.scala
Labels: backport

#2153 [8.11] Upgrade to Spark 3.3.3 (#2148)
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  gradle.properties
  licenses/spark-catalyst_2.12-3.2.4.jar.sha1
  licenses/spark-catalyst_2.12-3.3.3.jar.sha1
  licenses/spark-core_2.12-3.2.4.jar.sha1
  licenses/spark-core_2.12-3.3.3.jar.sha1
  licenses/spark-sql_2.12-3.2.4.jar.sha1
  licenses/spark-sql_2.12-3.3.3.jar.sha1
  licenses/spark-streaming_2.12-3.2.4.jar.sha1
  licenses/spark-streaming_2.12-3.3.3.jar.sha1
  licenses/spark-yarn_2.12-3.2.4.jar.sha1
  licenses/spark-yarn_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.3.3.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.2.4.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.3.3.jar.sha1
  spark/sql-30/src/test/scala/org/elasticsearch/spark/sql/RowSerializationEventConverterTest.scala
Labels: backport

#2150 Correctly handling EsHadoopException in TransportPool.validate()
  mr/src/itest/java/org/elasticsearch/hadoop/rest/pooling/AbstractTransportPoolTest.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/pooling/TransportPool.java
Labels: bug, :Core, v8.12.0

#2154 [DOCS] Add 8.11.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.11.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.11.0, v8.12.0

#2161 [DOCS] Add 7.17.15 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.15.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.15

#2163 Fix incompatibility to TestClusterAware api change
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/DfsCopy.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HadoopMRJob.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HiveBeeline.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/SparkApp.groovy
Labels: :Build, v8.11.1, v8.12.0

#2158 Always resolve current field name in SparkSQL when creating Row objects inside of arrays
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
Labels: bug, :Spark, :Serialization, v8.12.0, v8.11.2

#2166 [8.11] Always resolve current field name in SparkSQL when creating Row objects inside of arrays (#2158)
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSparkSQL.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/ScalaEsRowValueReader.scala
Labels: backport
