Repository elastic/elasticsearch-hadoop, pull requests merged in 2023-08, with the labels that each got.

#2115 Fix pom file naming after Gradle update
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  dist/build.gradle
Labels: bug, :Build

#2117 [buildkite] Add initial catalog-info.yml
  catalog-info.yml
Labels: :Build, v8.10.0

#2114 Migrate CI pipelines to Buildkite
  .buildkite/branches.sh
  .buildkite/dra-workflow.trigger.sh
  .buildkite/dra-workflow.yml
  .buildkite/dra.sh
  .buildkite/hooks/pre-command
  .buildkite/pipeline.py
  .buildkite/pull-requests.json
  .buildkite/tests.trigger.sh
  .gitignore
  catalog-info.yaml
  spark/core/build.gradle
Labels: :Build, v8.9.1, v8.10.0, v7.17.13

#2122 [DOCS] Add 8.9.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.9.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.9.1, v8.10.1
