Repository elastic/elasticsearch-hadoop, pull requests merged in 2023-10, with the labels that each got.

#2142 [DOCS] Add 8.10.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.10.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.10.3, v8.11.1, v8.12.0

#2145 [DOCS] Add 7.17.14 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.14.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.14

#2144 [DOCS] Add 8.10.3 release notes (#2142)
  docs/src/reference/asciidoc/appendix/release-notes/8.10.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, auto-merge, v8.10.3

#2146 Update gradle wrapper 84
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: enhancement, :Build

#2147 [DOCS] 8.10.4 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.10.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.11.1, v8.12.0, v8.10.4

#2151 Fix gradle bin checksum
  gradle/wrapper/gradle-wrapper.properties
Labels: non-issue, auto-merge
