Repository elastic/elasticsearch-hadoop, pull requests merged in 2023-06, with the labels that each got.

#2097 Add 8.8.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.8.1, v8.9.0

#2098 [8.8] [DOCS] Add 8.8.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.8.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2095 Replacing the use of Java object serialization with Jackson (#2080)
  mr/src/main/java/org/elasticsearch/hadoop/rest/PartitionDefinition.java
  mr/src/main/java/org/elasticsearch/hadoop/rest/RestService.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/dto/mapping/Field.java
  mr/src/main/java/org/elasticsearch/hadoop/serialization/dto/mapping/Mapping.java
  mr/src/main/java/org/elasticsearch/hadoop/util/IOUtils.java
  mr/src/main/java/org/elasticsearch/hadoop/util/SettingsUtils.java
  mr/src/test/java/org/elasticsearch/hadoop/util/IOUtilsTest.java
  pig/src/main/java/org/elasticsearch/hadoop/pig/EsStorage.java
  pig/src/test/java/org/elasticsearch/hadoop/pig/PigSchemaSaveTest.java
  spark/sql-13/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-20/src/itest/scala/org/elasticsearch/spark/sql/streaming/StreamingQueryTestHarness.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  spark/sql-30/src/itest/scala/org/elasticsearch/spark/sql/streaming/StreamingQueryTestHarness.scala
  spark/sql-30/src/main/scala/org/elasticsearch/spark/sql/DefaultSource.scala
  test/shared/src/main/java/org/elasticsearch/hadoop/util/TestUtils.java
Labels: backport, v7.17.11

#2103 [DOCS] Add 8.2.2 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.8.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.8.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.9.0, v8.8.2, v8.10.0

#2104 [DOCS] Add 7.17.11 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.11.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.11

#2106 [8.9] [DOCS] Add 8.2.2 release notes (#2103)
  docs/src/reference/asciidoc/appendix/release-notes/8.8.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.8.2.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport
