Repository elastic/elasticsearch-hadoop, pull requests merged in 2024-06, with the labels that each got.

#2233 [DOCS] Add 8.14.0 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.14.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.14.1, v8.15.0

#2234 [8.14] [DOCS] Add 8.13.3 release notes (#2223)
  docs/src/reference/asciidoc/appendix/release-notes/8.13.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2235 [8.14] [DOCS] Add 8.13.4 release notes (#2226)
  docs/src/reference/asciidoc/appendix/release-notes/8.13.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2236 [8.14] [DOCS] Add 8.14.0 release notes (#2233)
  docs/src/reference/asciidoc/appendix/release-notes/8.14.0.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2232 Update Gradle wrapper to 8.8
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/DependencyLicensesTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/info/GlobalBuildInfoPlugin.java
  dist/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  thirdparty/build.gradle
Labels: :Build

#2238 [DOCS] Add 7.17.22 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.22.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.23

#2239 [DOCS] Add 8.14.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.14.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.15.0, v8.14.2

#2240 [8.14] [DOCS] Add 8.14.1 release notes (#2239)
  docs/src/reference/asciidoc/appendix/release-notes/8.14.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport
