Repository elastic/elasticsearch-hadoop, pull requests merged in 2024-10, with the labels that each got.

#2265 Update java build and runtime from 17 to 21
  .ci/java-versions.properties
  mr/src/main/java/org/elasticsearch/hadoop/util/EsMajorVersion.java
  mr/src/test/java/org/elasticsearch/hadoop/serialization/CommandTest.java
Labels: non-issue, auto-merge, v9.0.0

#2267 Update Gradle wrapper to 8.10.2
  gradle/wrapper/gradle-wrapper.properties
Labels: :Build, v8.16.0, v9.0.0

#2268 [8.x] Update Gradle wrapper to 8.10.1 (#2264)
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: v8.16.0

#2271 [DOCS] Add 8.15.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.15.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport pending, v8.15.3, v9.0.0, v8.16.1, v8.17.0

#2272 [DOCS] Add 8.15.3 release notes (#2271)
  docs/src/reference/asciidoc/appendix/release-notes/8.15.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.15.3

#2273 [DOCS] Add 8.15.3 release notes (#2271)
  docs/src/reference/asciidoc/appendix/release-notes/8.15.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.17.0

#2274 [DOCS] Add 8.15.3 release notes (#2271)
  docs/src/reference/asciidoc/appendix/release-notes/8.15.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.16.1

#2277 [DOCS] Add 7.17.25 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.25.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.25
