Repository elastic/elasticsearch-hadoop, pull requests merged in 2025-01, with the labels that each got.

#2305 Deprecate Spark 2.x
  docs/src/reference/asciidoc/appendix/breaking.adoc
  docs/src/reference/asciidoc/core/intro/requirements.adoc
  spark/core/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSpark.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/api/java/JavaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/package.scala
Labels: :Spark, deprecation, >docs, v8.18.0

#2315 [8.x] Deprecate Spark 2.x (#2305)
  docs/src/reference/asciidoc/appendix/breaking.adoc
  docs/src/reference/asciidoc/core/intro/requirements.adoc
  spark/core/src/itest/scala/org/elasticsearch/spark/integration/AbstractScalaEsSpark.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/EsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/api/java/JavaEsSparkSQL.scala
  spark/sql-20/src/main/scala/org/elasticsearch/spark/sql/package.scala
Labels: :Spark, deprecation, >docs, backport, v8.18.0

#2321 [Gradle] Remove deprecated gradle api usage
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntFixture.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntTask.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HadoopMRJob.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/HiveBeeline.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/tasks/SparkApp.groovy
  qa/kerberos/build.gradle
Labels: >non-issue, :Delivery/Build, Team:Delivery, auto-backport

#2326 [DOCS] Add 7.17.27 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.27.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.28

#2329 [DOCS] Add 8.16.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.16.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v9.0.0, v8.18.0, v8.17.2, v8.16.4

#2330 [8.16] [DOCS] Add 8.16.3 release notes (#2329)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2331 [8.17] [DOCS] Add 8.16.3 release notes (#2329)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2332 [8.x] [DOCS] Add 8.16.3 release notes (#2329)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2333 [DOCS] Add 8.17.1 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.17.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v9.0.0, v8.18.0, v8.17.2

#2335 [8.x] [DOCS] Add 8.17.1 release notes (#2333)
  docs/src/reference/asciidoc/appendix/release-notes/8.17.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2334 [8.17] [DOCS] Add 8.17.1 release notes (#2333)
  docs/src/reference/asciidoc/appendix/release-notes/8.17.1.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2328 Set Spark 3.x default to Scala 2.13
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/services/SparkYarnServiceDescriptor.groovy
  dist/build.gradle
  dist/licenses/scala-library-2.11.12.jar.sha1
  dist/licenses/scala-library-2.13.13.jar.sha1
  dist/licenses/scala-reflect-2.11.12.jar.sha1
  dist/licenses/scala-reflect-2.13.13.jar.sha1
  dist/licenses/spark-core_2.12-3.4.3.jar.sha1
  dist/licenses/spark-core_2.13-3.4.3.jar.sha1
  dist/licenses/spark-sql_2.12-3.4.3.jar.sha1
  dist/licenses/spark-sql_2.13-3.4.3.jar.sha1
  dist/licenses/spark-streaming_2.12-3.4.3.jar.sha1
  dist/licenses/spark-streaming_2.13-3.4.3.jar.sha1
  dist/licenses/spark-yarn_2.12-3.4.3.jar.sha1
  dist/licenses/spark-yarn_2.13-3.4.3.jar.sha1
  licenses/scala-library-2.12.19.jar.sha1
  licenses/scala-library-2.13.13.jar.sha1
  licenses/scala-reflect-2.12.19.jar.sha1
  licenses/scala-reflect-2.13.13.jar.sha1
  licenses/spark-catalyst_2.12-3.4.3.jar.sha1
  licenses/spark-catalyst_2.13-3.4.3.jar.sha1
  licenses/spark-core_2.12-3.4.3.jar.sha1
  licenses/spark-core_2.13-3.4.3.jar.sha1
  licenses/spark-sql_2.12-3.4.3.jar.sha1
  licenses/spark-sql_2.13-3.4.3.jar.sha1
  licenses/spark-streaming_2.12-3.4.3.jar.sha1
  licenses/spark-streaming_2.13-3.4.3.jar.sha1
  licenses/spark-yarn_2.12-3.4.3.jar.sha1
  licenses/spark-yarn_2.13-3.4.3.jar.sha1
  qa/kerberos/build.gradle
  spark/core/build.gradle
  spark/core/licenses/scala-library-2.12.19.jar.sha1
  spark/core/licenses/scala-library-2.13.13.jar.sha1
  spark/core/licenses/scala-reflect-2.12.19.jar.sha1
  spark/core/licenses/scala-reflect-2.13.13.jar.sha1
  spark/core/licenses/spark-core_2.12-3.4.3.jar.sha1
  spark/core/licenses/spark-core_2.13-3.4.3.jar.sha1
  spark/sql-30/build.gradle
  spark/sql-30/licenses/scala-library-2.12.19.jar.sha1
  spark/sql-30/licenses/scala-library-2.13.13.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.12.19.jar.sha1
  spark/sql-30/licenses/scala-reflect-2.13.13.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.12-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-catalyst_2.13-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-core_2.12-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-core_2.13-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-sql_2.12-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-sql_2.13-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.12-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-streaming_2.13-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.12-3.4.3.jar.sha1
  spark/sql-30/licenses/spark-yarn_2.13-3.4.3.jar.sha1
Labels: :Spark, v9.1.0
