Repository elastic/elasticsearch-hadoop, pull requests merged in 2025-03, with the labels that each got.

#2350 [docs] Clean up cross-repo links
  docs/reference/apache-hive-integration.md
  docs/reference/apache-spark-support.md
  docs/reference/cloudrestricted-environments.md
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/kerberos.md
  docs/reference/mapping-types.md
  docs/reference/mapreduce-integration.md
Labels: >docs

#2351 [DOCS] Add 8.16.5 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.16.5.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.18.0, v8.18.1, v8.19.0, v8.16.5, v8.17.4

#2352 [DOCS] Add 8.16.5 release notes (#2351)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.5.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.18.1

#2353 [DOCS] Add 8.16.5 release notes (#2351)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.5.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, auto-merge, v8.17.4

#2354 [DOCS] Add 8.16.5 release notes (#2351)
  docs/src/reference/asciidoc/appendix/release-notes/8.16.5.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.16.5

#2356 [DOCS] Add 8.17.3 release notes (#2355)
  docs/src/reference/asciidoc/appendix/release-notes/8.17.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.18.1

#2357 [DOCS] Add 8.17.3 release notes (#2355)
  docs/src/reference/asciidoc/appendix/release-notes/8.17.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, backport, v8.17.4

#2364 [docs] Fix external links
  docs/reference/apache-spark-support.md
  docs/reference/hadoop-metrics.md
  docs/reference/license.md
  docs/reference/logging.md
  docs/reference/mapreduce-integration.md
Labels: doc, >docs

#2365 [9.0] fix external links (#2364)
  docs/reference/apache-spark-support.md
  docs/reference/hadoop-metrics.md
  docs/reference/license.md
  docs/reference/logging.md
  docs/reference/mapreduce-integration.md
Labels: >docs

#2366 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/reference/apache-spark-support.md
Labels: doc, >docs
