Repository elastic/elasticsearch-hadoop, pull requests merged in 2025-08, with the labels that each got.

#2438 Update Gradle wrapper to 9.0.0
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/BuildPlugin.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntFixture.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntFixtureStop.groovy
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/buildtools/AntTask.groovy
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/DependencyLicensesTask.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/LoggedExec.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/Util.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/buildtools/info/GlobalBuildInfoPlugin.java
  buildSrc/src/main/java/org/elasticsearch/hadoop/gradle/scala/SparkVariantPlugin.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  thirdparty/build.gradle
Labels: v9.2.0, v8.18.6, v9.0.6, v9.1.3, v8.19.3

#2443 [DOCS] Add 9.1.0 release notes
  docs/release-notes/index.md
Labels: >docs, v9.1.0, v9.2.0

#2444 [DOCS] Add 8.17.10 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.17.10.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.17.8.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.17.9.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.17.11, v8.18.7, v8.19.4

#2445 [9.1] [DOCS] Add 9.1.0 release notes (#2443)
  docs/release-notes/index.md
Labels: backport

#2447 [8.17] [DOCS] Add 8.17.10 release notes (#2444)
  docs/src/reference/asciidoc/appendix/release-notes/8.17.10.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.17.8.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.17.9.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2449 [8.18] [DOCS] Add 8.18.6 release notes (#2448)
  docs/src/reference/asciidoc/appendix/release-notes/8.18.3.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.18.4.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.18.5.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.18.6.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2450 [DOCS] Add 8.19.3 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.19.0.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.19.1.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.19.2.adoc
  docs/src/reference/asciidoc/appendix/release-notes/8.19.3.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.19.4

#2451 [DOCS] Add 7.17.29 release notes
  docs/src/reference/asciidoc/appendix/release-notes/7.17.28.adoc
  docs/src/reference/asciidoc/appendix/release-notes/7.17.29.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v7.17.30
