Repository elastic/elasticsearch-hadoop, pull requests merged in 2025-09, with the labels that each got.

#2452 [DOCS] Add 8.18.7 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.18.7.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.19.5, v8.18.8

#2453 [8.18] [DOCS] Add 8.18.7 release notes (#2452)
  docs/src/reference/asciidoc/appendix/release-notes/8.18.7.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: backport

#2454 [DOCS] Add 8.19.4 release notes
  docs/src/reference/asciidoc/appendix/release-notes/8.19.4.adoc
  docs/src/reference/asciidoc/appendix/release.adoc
Labels: >docs, v8.19.5

#2460 Update apache archive mirror url for faster artifact resolution
  buildSrc/src/main/groovy/org/elasticsearch/hadoop/gradle/fixture/hadoop/HadoopFixturePlugin.groovy
Labels: :Build, >non-issue, :Delivery/Build, Team:Delivery, v9.2.0, v8.19.5, v9.1.5, v8.18.8, v9.0.8

#2465 Fix test trigger pipeline for 9.0 branch
  .buildkite/tests.trigger.sh
Labels: >non-issue
